/* import Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,400;0,500;0,600;1,900&display=swap');

/* define color variables */
:root {
    --black: #1A120B;
    --brown: #3C2A21;
    --light: #D5CEA3;
    --pale: #E5E5CB;
}
/* CSS Reset */

* {
    box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}
/* end of reset */

body{
    font-family: 'Source Code Pro', monospace;
}