*,
*::before,
*::after {
    box-sizing: border-box;
}

/* import Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Source+Code+Pro:ital,wght@0,300;0,600;0,800;0,900;1,300;1,400&display=swap');

/* define custom styles*/
:root {
    --black: #1A120B;
    --brown: #3C2A21;
    --light: #D5CEA3;
    --pale: #E5E5CB;
    --ff-primary: 'Source Code Pro',
        sans-serif;
    --ff-secondary: 'Poppins',
        monospace;
    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: var(--light);
    --clr-dark: var(--black);
    --clr-accent:var(--pale);

    --fs-h1: 3rem;
    --fs-h2:2.25rem;
    --fs-h3:1.25rem;
    --fs-body:1rem;
}
/* media Query rules for FS large screens  */

@media screen and (min-width:800px){
:root{
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1rem;
}
}
/* end custom styles  */

/* CSS Reset */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

/* end of reset */

/* General Styling */

body {
    font-family: 'Source Code Pro', monospace;
    color: var(--brown);
    background-color: var(--clr-light);
}

/* Portfolio section Styling Start */
/* response rules */
/* rules for desktops and above */
@media screen and (min-width: 768px) {
    .portfolio__items-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .portfolio__item {
        flex: 0 0 calc(50% - 20px);
        /* adjust the width of each item as needed */
        margin-bottom: 20px;
    }

    .portfolio__item--iframe {
        position: relative;
        width: 100%;
        padding-bottom: 75%;
        /* adjust the height of each item as needed */
    }

    .portfolio__item--iframe object {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

/* rules for smaller devices */
@media screen and (max-width: 767px) {
    .portfolio__items-container {
        display: block;
    }

    .portfolio__item {
        width: 100%;
        margin-bottom: 20px;
    }

    .portfolio__item--iframe {
        position: relative;
        padding-bottom: 56.25%;
        /* 16:9 aspect ratio */
    }

    .portfolio__item--iframe object {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
/*End of  response rules */

/* portfolio section styling end */
/* general styling end */

/* Summary: This will make the portfolio items display side by side,
with a gap of 20px between them,
and each item taking up 50% of the container's width.  */
/* Portfolio section styling end */